#page
{
	display: flex;
	flex-direction: column;
}
@media only screen and (min-width: 600px) {
	#services
	{
		display: flex;
		//background-color: blue;
	}
	#col2
	{
		width: 20%;
		//background-color: blue;
	}
	#col
	{
		width: 20%;
		text-align: center;
		//background-color: red;
	}
	#page
	{
		margin: 20px;
		padding: 5px;
		background-color: #dddddd;
		position: relative;
		top: 50px;
	}
}
@media only screen and (max-width: 600px) {
	#services
	{
		display: block;
	}
	.serv_desc
	{
		background-color: white;
	}
	#col
	{
		width: 100%;
		text-align: center;
		//background-color: red;
	}
	#page
	{
		margin: 0;
		padding: 0;
		background-color: #dddddd;
		position: relative;
		top: 50px;
	}
	body
	{
		margin: 0;
	}
}

.header_but
{
	width: 100px;
}
#header_id
{
	background-color: #444444;
	position: fixed;
	display: flex;
	left: 0px;
	top: 0px;
	width: 100%;
	color: white;
	height: 50px;
}
